{% extends 'layout.html' %}
{% block content %}
    {% for post in posts.items %}
    <div class="blog row border rounded mb-3">
        <div class="col-2">
            <img class="rounded-circle border" src="{{ url_for('static', filename='profile_pics/' + post.author.image_file) }}" height="80">
            <br> &nbsp; &nbsp; &nbsp; 
            <a class="link" href="{{ url_for('users.user_posts', username=post.author.username) }}"><b>{{post.author.username}}</b></a>
        </div>
        <div class="col-10">
            <div class="row mt-2">
                <h2 class="col-9 text-info"><a class="link" href="{{ url_for('posts.post', post_id=post.id )}}">{{post.title}}</a></h2>
                <b class="col-3">{{post.date_posted.strftime('%Y-%m-%d')}}</b>
            </div>
            <div class="row mt-2">
                <h5 class="col-6">{{post.content}}</h5>
            </div>
        </div>
    </div>
    {% endfor %}
    {% for page_num in posts.iter_pages(left_edge=1, right_edge=1, left_current=1, right_current=1) %}
        {% if page_num %}
            {% if posts.page == page_num %}
                <a class="btn btn-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% else %}
                <a class="btn btn-outline-info mb-4" href="{{ url_for('main.home', page=page_num) }}">{{ page_num }}</a>
            {% endif %}
        {% else %}
        {% endif %}
    {% endfor %}
{% endblock %}
